.productCategory.common-section{
  padding-bottom: 0;
}
.productCategory .card {
  text-align: center;
  padding: 30px 10px;
  background: #ffffff0a;
  height: 100%;
  width: 100%;
  /* box-shadow: rgba(255, 255, 255, 0.045) 0px 0px 2px 2px; */
}
.productCategory .card .catImage{
  width: 100%;
  max-width: 150px;
  margin: 0 auto;

}
.productCategory .card p {
  text-transform: uppercase;
  margin-top: 10px;
  max-width: 240px;
  margin: 10px auto 0 auto;
}
.productCategory .react-multi-carousel-track li {
  padding: 0 10px;
}

@media (max-width: 550px) {
  .productCategory .react-multi-carousel-track li {
    padding: 0 0px;
  }
}
