.productCardMain {
  width: 100%;
  max-width: 32%;
  height: 160px;
  border-radius: 10px;
  padding: 15px 15px;
  box-shadow: rgba(255, 255, 255, 0.045) 0px 0px 2px 2px;
  align-self: center;
  gap: 10px;
}
.productCardMain figure{
    width: 100%;
    height: 100%;
}
.productCardMain figure img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productCardMain .title{
    text-transform: uppercase;
}
.productCardMain > a{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.productCardMain .mainContent{
    width: 50%;
}
.productCardMain .addInCart {
    width: 100%;
    margin-top: 5px;
}
.productCardMain .mainContent .addInCart > a,
.productCardMain .mainContent .addInCart > button{
    margin-top: 10px;
    font-size: 12px;
}
.productCardMain .addInCart input {
  width: 40px;
  background: transparent;
  border-top: 1px solid #ffffff5a;
  border-bottom: 1px solid #ffffff5a;
  vertical-align: middle;
  padding: 5px 5px;
}
.productCardMain .addInCart .incDec button {
    width: 20px;
    background: transparent;
    border: 1px solid #ffffff5a;
    outline: none;
    color: var(--white);
}
.productCardMain .filled-button{
    /* padding: 1px 5px; */
    padding: 3px 8px;
}


@media (max-width: 1025px) {
    .productCardMain{
        flex-direction: column;
        height: 300px;
        max-width: 32%;
        height: 270px;
    }
    .productCardMain > a{
        width: 100%;
    }
    .productCardMain .mainContent{
        width: 100%;
    }
}


@media (max-width: 850px) {
    .productCardMain{
        flex-direction: column;
        height: 300px;
        max-width: 48%;
        height: 270px;
    }
    .productCardMain > a{
        width: 100%;
    }
    .productCardMain .mainContent{
        width: 100%;
    }
    .productPage .mainProduct{
        width: 65%;
    }
}

@media (max-width: 550px) {
    .productCardMain{
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        height: 130px;
    }
}