.login-signup ul{
    gap: 10px;
}
.login-signup ul li a{
    font-size: 25px;
}

.login-signup .filled-button{
    padding: 5px 20px;
}
.login-signup .cart_number{
    /* border: 1px solid red; */
    position: relative;
}
.login-signup .cart_number .cartCircle{
    background: var(--white);
    position: absolute;
    margin-top: 0;
    color: var(--orange);
    /* padding: 2px 7px; */
    width: 20px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -9px;
    right: -14px;
}