.productPage .container{
    gap: 20px;
    padding: 0 20px;
}
.productPage .filters{
    width: 100%;
    max-width: 400px;
    /* border: 1px solid red; */
}
.productPage .mainProduct{
    /* border: 1px solid red; */
    width: 70%;
}