.productPage .container{
    gap: 20px;
    padding: 0 20px;
}
.productPage .filters h3{
    margin-bottom: 10px;
}
.productPage .filters{
    width: 100%;
    max-width: 140px;
    /* border: 1px solid red; */
}
.productPage .mainProduct{
    /* border: 1px solid red; */
    width: 100%;
}

@media (max-width: 550px) {
    .productPage .container{
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
    .productPage .filters{
        max-width: 300px;
    }
    .productPage .container{
        padding: 0 0px;
    }
    .productPage .mainProduct{
        width: 100%;
        padding: 0 20px;
    }
}