.builkBooking {
  padding-bottom: 0;
}

.builkBooking .container {
  gap: 50px;
  padding: 0 20px;
}
.builkBooking .container > div {
  width: 50%;
  /* border: 1px solid red; */
}
.builkBooking .container > div h2 {
  margin: 10px 0;
}
.builkBooking .container .content p {
  margin-top: 10px;
}
.builkBooking .container .form form button,
.builkBooking .container .form form > div {
  margin-top: 10px;
}

.builkBooking .form .rowMain {
  gap: 10px;
}
.builkBooking .form .rowMain > div {
  width: 50%;
}

@media (max-width: 770px) {
  .builkBooking .container {
    gap: 10px;
  }
  .builkBooking .form .rowMain {
    flex-direction: column;
  }
  .builkBooking .form .rowMain > div {
    width: 100%;
  }
  .builkBooking .content h5::after {
    right: -45%;
  }
}

@media (max-width: 550px) {
  .builkBooking .container {
    flex-direction: column;
    gap: 50px;
  }
  .builkBooking .container > div {
    width: 100%;
  }
}
