* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--cormorantBold);
  background: var(--darkGray);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.common-section {
  width: 100%;
  float: left;
  padding: 60px 0px;
}

figure img {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-spacebetween {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

img {
  display: flex;
}

/* Text Control  */
button {
  cursor: pointer;
  font-family: var(--cormorantBold);
}

svg {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
  font-family: var(--cormorantBold);
}

p {
  font-size: 1.1rem;
  color: var(--white);
}

h1 {
  font-size: 4rem;
  color: var(--white);
  text-transform: uppercase;
}

h2 {
  font-size: 2.7rem;
  color: var(--white);
}

h3 {
  font-size: 2rem;
  color: var(--white);
}

h5 {
  font-size: 1.2rem;
  color: var(--white);
  color: var(--orange);
}

.r-l-line,
.right-line {
  position: relative;
  display: inline-block;
}

.r-l-line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 55%;
  left: -110%;
  background: var(--orange);
}

.r-l-line::after,
.right-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 55%;
  right: -110%;
  background: var(--orange);
}

/* Fill Button  */
.filled-button {
  border: none;
  outline: none;
  background: var(--orange);
  color: var(--white);
  padding: 10px 20px;
  transition: .5s;
  border: 1px solid var(--orange);
  border-radius: 5px;
  font-size: 1.2rem;
}

.filled-button:hover {
  background: var(--transprant);
  border: 1px solid var(--orange);
  color: var(--orange);
}

/* Border Button  */

.border-button {
  border: none;
  outline: none;
  background: var(--transprant);
  color: var(--white);
  padding: 10px 10px;
  transition: .5s;
  position: relative;
  font-size: 1.2rem;
}

.border-button::after {
  content: "";
  position: absolute;
  background: var(--white);
  height: 2px;
  width: 5%;
  bottom: 0;
  left: 50%;
  border-radius: 5px;
  transition: .5s;
  transform: translateX(-50%);
}

.border-button:hover:after {
  width: 100%;
}