* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--cormorant);
  /* font-family: var(--jost); */
  background: var(--darkGray);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.common-section {
  width: 100%;
  float: left;
  padding: 60px 0px;
}

figure img {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-spacebetween {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

img {
  display: flex;
}

/* Text Control  */
button {
  cursor: pointer;
  font-family: var(--cormorant);
  /* font-family: var(--jost); */
}
b {
  font-family: var(--jostBold);
}
svg {
  display: flex;
  color: var(--white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  display: inline-block;
  font-family: var(--jost);
}

p {
  font-size: 1rem;
  color: var(--white);
  font-family: var(--jost);
}

h1 {
  font-size: 4rem;
  color: var(--white);
  text-transform: uppercase;
}

h2 {
  font-size: 2.7rem;
  color: var(--white);
}

h3 {
  font-size: 2rem;
  color: var(--white);
}

h4 {
  font-family: var(--cormorant);
  font-size: 1.2rem;
  color: var(--white);
}

h5 {
  font-size: 1rem;
  color: var(--white);
  color: var(--orange);
  text-transform: uppercase;
  font-family: var(--jost);
}

textarea {
  height: 130px;
}
textarea,
input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff2d;
  background: var(--transprant);
  color: var(--white);
  padding: 2px 5px 5px 3px;
  width: 100%;
}
label {
  color: var(--white);
  font-family: var(--jost);
  font-size: 1rem;
  cursor: pointer;
}

.r-l-line,
.right-line {
  position: relative;
  display: inline-block;
}

.r-l-line::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 55%;
  left: -110%;
  background: var(--orange);
}

.r-l-line::after,
.right-line::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  right: -110px;
  background: var(--orange);
}

/* Fill Button  */
.filled-button {
  border: none;
  outline: none;
  background: var(--orange);
  color: var(--white);
  padding: 8px 20px;
  transition: 0.5s;
  border: 1px solid var(--orange);
  /* border-radius: 5px; */
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--jost);
}

.filled-button:hover {
  background: var(--transprant);
  border: 1px solid var(--white);
  color: var(--white);
}

/* Border Button  */

.border-button {
  font-family: var(--jost);
  border: none;
  outline: none;
  background: var(--transprant);
  color: var(--white);
  padding: 8px 0px;
  transition: 0.5s;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
}

.border-button::after {
  content: "";
  position: absolute;
  background: var(--white);
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 50%;
  border-radius: 5px;
  transition: 0.5s;
  transform: translateX(-50%);
}

.border-button:hover:after {
  width: 100%;
}

@media (max-width: 769px) {
  h1 {
    font-size: 3.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .r-l-line::before {
    width: 60px;
    left: -100%;
  }

  .r-l-line::after,
  .right-line::after {
    width: 60px;
    right: -100%;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  .filled-button {
    padding: 5px 15px;
  }
}

@media (max-width: 426px) {
  h1 {
    font-size: 2.2rem;
  }
}
