.nav-bar ul {
    gap: 30px;
}
.nav-bar ul li a{
    position: relative;
    padding: 2px 5px;
}
.nav-bar ul li a::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background: var(--orange);
    bottom: 0;
    left: 0;
    transition: .5s;
    border-radius: 10px;
}
.nav-bar ul li a:hover::after,
.nav-bar ul li .active::after{
    width: 100%;
}