.aboutUsContent {
  padding-bottom: 0;
}

.aboutUsContent .container {
  gap: 50px;
  padding: 0 20px;
}
.aboutUsContent .image {
  width: 60%;
}
.aboutUsContent .content {
  width: 40%;
}
.aboutUsContent .content p ul li {
  list-style: circle;
  margin-left: 13px;
}
.aboutUsContent .content h2 {
  width: 100%;
  max-width: 390px;
  margin-top: 10px;
}

.aboutUsContent .content .border-button {
  margin-top: 20px;
}
.aboutUsContent .content .border-button::after {
  background: var(--orange);
}
.aboutUsContent .content .spacetop {
  margin-top: 20px;
}

.aboutUsContent .image div img:first-child {
  max-width: 100%;
  width: 350px;
}
.aboutUsContent .image div img:nth-child(2) {
  max-width: 100%;
}
.aboutUsContent .image div {
  width: 100%;
  position: relative;
}
.aboutUsContent .image .absImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 90%;
}

@media (max-width: 769px) {
  .aboutUsContent .container {
    gap: 10px;
  }
  .aboutUsContent .right-line::after {
    right: -30%;
  }
  .aboutUsContent .image {
    width: 40%;
  }
  .aboutUsContent .content {
    width: 60%;
  }
}

@media (max-width: 769px) {
  .aboutUsContent .right-line::after {
    right: -30%;
  }
  .aboutUsContent .image {
    width: 100%;
    max-width: 300px;
  }
  .aboutUsContent .content {
    width: 100%;
    max-width: 300px;
  }
}
@media (max-width: 551px) {
  .aboutUsContent .container {
    gap: 20px;
    flex-direction: column;
  }
  .aboutUsContent .right-line::after {
    right: -70px;
}
}
