.banner{
    /* background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../public/assets/img/banner_image.webp); */
    /* padding: 230px 0; */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.banner .content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 600px;
    z-index: 99;
    transform: translate(-50%, -50%);
}
.banner .itemBannerCrowsel img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.banner .carousel-status,
.banner .control-dots,
.banner .control-arrow,
.banner .thumbs-wrapper{
    display: none;
}
.banner .itemBannerCrowsel{
    position: relative;
}
.banner .itemBannerCrowsel::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #0000006b;
}

.banner h1{
    width: 100%;
    max-width: 815px;
    margin: 0 auto;
}

.banner .buttons{
    margin-top: 40px;
    gap: 30px;
}

.banner .scroll-content{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    z-index: 9;
    gap: 5px;
    font-size: 14px;
}



@media (max-width: 769px) {
    .banner h1{
        max-width: 600px;
    }
}