.banner{
    padding: 230px 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../../../public/assets/img/slider.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner h1{
    width: 100%;
    max-width: 815px;
    margin: 0 auto;
}

.banner .buttons{
    margin-top: 50px;
    gap: 30px;
}

.banner .scroll-content{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    z-index: 9;
    gap: 5px;
    font-size: 14px;
}